# Lingkungan Python
/.venv
/venv
backend/__pycache__
__pycache__/
*.pyc

# Data & Model (JANGAN PERNAH DI-PUSH)
/models/
/data_preparation/
/data/
/training_output/
backend/data

# File temporary dari Label Studio atau skrip lain
*.json

# File spesifik sistem operasi
.DS_Store
Thumbs.db