# Kerangka Web & Server
fastapi
uvicorn[standard]
python-multipart

# Pemrosesan PDF & Gambar
PyMuPDF
Pillow
pytesseract
opencv-python-headless

# AI & Machine Learning (Hugging Face & PyTorch)
torch
transformers
datasets
seqeval
sentencepiece
timm
protobuf

# (Opsional) Untuk integrasi Google Sheets di masa depan
# gspread
# pandas
# openpyxl

